*.egg-info
*.pyc
.coverage
.env
.tox
/.idea
/artifacts
/build
/dist
/docs/output
/m.css
/output
/tests/.pytest_cache
/tests/output
/venv
/venv39
src/Applications/Include
src/Applications/Lib
src/Applications/Scripts
src/Applications/tcl
src/lbaf/imported
