*.pyc
src/Applications/Include
src/Applications/Lib
src/Applications/Scripts
src/Applications/tcl
/.idea
/venv
/venv39
/artifacts
.tox
/output
/tests/.pytest_cache
/tests/output
.coverage
.env
/dist
/tests/output
/build
src/lbaf/imported
/m.css
/docs/output
*.egg-info
