*.pyc
src/Applications/Include
src/Applications/Lib
src/Applications/Scripts
src/Applications/tcl
/.idea
/venv
/venv39
/artifacts
.tox
/tests/.pytest_cache
/output
.coverage
.env
/dist
/output
/build
src/lbaf/imported
